@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.about-header {
  text-align: center;
  color: white;
  padding: 100px 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.5)), to(rgba(20, 20, 20, 0.5))), url("../img/coffee-shop-20.jpeg");
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../img/coffee-shop-20.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 980px) {
  .about-header p {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

#best-coffee-about {
  color: black;
  background: white;
}

.delicious {
  background-image: url("../img/coffee-shop-04.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.delicious .delicious-cards {
  text-align: center;
  background: white;
  padding: 60px 40px;
}

.delicious .delicious-cards:nth-child(2) {
  padding: 0;
  margin: 0;
}

.delicious .percent, .delicious .location {
  margin: 1em 0;
}

.iframe {
  height: 300px;
}

.iframe iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.number-wrapper h3 {
  color: #dca47d;
}

.number-wrapper .number {
  font-size: 2.5em;
}

@media screen and (min-width: 980px) {
  .delicious {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .delicious-txt {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .delicious-txt-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 500px;
        grid-template-rows: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delicious-txt-wrapper h2 {
    padding: 10%;
  }
  .delicious-txt-wrapper p {
    padding-bottom: 10%;
  }
  .number-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gallery {
  text-align: center;
}

.gallery .gallery-txt {
  padding: 30px 0;
}

.gallery .image-gallery {
  padding: 30px 0 60px 0;
}

.gallery .image-gallery .gallery-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) {
  .image-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media screen and (min-width: 980px) {
  .gallery-txt p {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

.our-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #201a1a;
  color: white;
}

.our-story img {
  display: block;
}

@media screen and (min-width: 980px) {
  .our-story {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .our-story .our-story-txt {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .our-story .img-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team-txt {
  text-align: center;
}

.team .team-card p {
  margin: 0 0 20px 0;
  opacity: 0.5;
}

.team .btn {
  text-align: center;
}

@media screen and (min-width: 980px) {
  .team-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    padding-top: 2em;
  }
  .team-cards .btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #201a1a;
  color: white;
}

.newsletter p {
  margin: 0;
  padding: 10px 0;
}

.form .email-input {
  width: 100%;
  padding: 10px 4%;
  margin-top: 20px;
  border: none;
}

.form .submit-btn {
  width: 100%;
  background-color: #dca47d;
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  border: 10px solid #dca47d;
  padding: .3em 15px;
  margin-top: 20px;
  cursor: pointer;
}

.blog-header {
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.5)), to(rgba(20, 20, 20, 0.5))), url("../img/coffee-shop-20.jpeg");
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../img/coffee-shop-20.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-article-container {
  background: #f8f8f8;
}

.blog-article-container .blog-card {
  background: #ffff;
  margin: 2em 0;
}

.blog-article-container .blog-card .blog-card-txt {
  padding: 2em;
}

@media screen and (min-width: 40em) {
  .blog-article-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  .blog-article-container .blog-card {
    margin: 0;
  }
  .blog-article-container .blog-card p {
    width: 100%;
  }
}

@media screen and (min-width: 61em) {
  .blog-article-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
}

.contact-header {
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.5)), to(rgba(20, 20, 20, 0.5))), url("../img/coffee-shop-20.jpeg");
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../img/coffee-shop-20.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.email-submit-btn {
  width: 100%;
}

.contact-pg-form .name, .contact-pg-form .email, .contact-pg-form .message {
  -webkit-box-shadow: 0px 0px 30px -19px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 30px -19px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 40em) {
  .contact-pg-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
        grid-template-areas: "name      email" "message   message" "     .     button";
  }
  .contact-pg-form .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
  }
  .contact-pg-form .email {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: email;
  }
  .contact-pg-form .message {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: message;
  }
  .contact-pg-form .submit-btn {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: button;
  }
}

@media screen and (min-width: 61em) {
  .email-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.navbar {
  background: transparent;
  color: white;
  position: absolute;
  width: 100%;
}

.navbar .nav-toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.navbar .navbar-nav {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-nav a {
  padding: 0 1em;
}

.side-nav {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
  background: #111;
  overflow-x: hidden;
  padding-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-nav a {
  display: block;
  padding: 30px;
  font-size: 22px;
  text-align: center;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #949494;
}

.side-nav a:nth-child(2) {
  margin-top: 80px;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 5px;
}

#main {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 40em) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .side-nav a {
    font-size: 30px;
  }
  .side-nav a:nth-child(2) {
    margin: 0;
  }
}

@media screen and (min-width: 61em) {
  .side-nav a {
    font-size: 40px;
  }
}

.home-header {
  background-image: url("../img/coffee-shop-15.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-header .header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: white;
}

.home-header .header-intro h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home-header .header-intro p {
  margin: 0 0 1em 0;
  text-align: center;
}

@media screen and (min-width: 980px) {
  .header-intro h1 {
    font-size: 3.75em;
  }
}

.best-coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1F2428;
  color: white;
  text-align: center;
}

.best-coffee p {
  font-size: 20px;
}

.icons {
  color: #dca47d;
  margin-top: 3em;
}

.icons .coffee-icon {
  padding: 1em;
}

@media screen and (min-width: 980px) {
  .best-coffee {
    padding: 10% 0 !important;
  }
  .best-coffee p {
    width: 80%;
    margin: auto;
    max-width: 600px;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .coffee-icon {
    width: 33.333%;
  }
  .coffee-icon:first-child {
    margin-right: 5.5%;
  }
  .coffee-icon:nth-child(2) {
    margin-right: 5.5%;
  }
}

.beans-image {
  display: none;
}

.great-coffee {
  background-image: url("../img/coffee-shop-07.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.great-coffee p {
  padding-bottom: 3em;
}

@media screen and (min-width: 980px) {
  .beans {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .fresh-beans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .fresh-beans p {
    text-align: left;
  }
  .beans-image {
    display: block;
    background-image: url("../img/coffee-shop-08.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .great-coffee {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10% 0;
    background-position: right bottom 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .great-coffee .great-coffee-txt {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

.main-footer {
  color: white;
}

.main-footer h2 {
  font-size: 2.5em;
}

.main-footer h3 {
  color: #dca47d;
}

.main-footer .footer-store-hours {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.5)), to(rgba(20, 20, 20, 0.5))), url("../img/coffee-shop-20.jpeg");
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../img/coffee-shop-20.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-footer .footer-contact {
  background-color: black;
}

@media screen and (min-width: 980px) {
  .main-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main-footer p {
    margin: 0;
  }
}

.menu-header {
  background-image: url("../img/section-bg-8-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12% 0;
}

.menu-header h1 {
  font-size: 5em;
}

.drink-menu {
  background: #272830;
  color: white;
}

.drink-menu .drink-menu-txt {
  padding: 5% 0;
}

.drink-menu .drink-card {
  padding: 2em 0;
}

@media screen and (min-width: 61em) {
  .gallery-mq {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
}

.food-menu-header {
  background-image: url("../img/section-bg-13.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 12% 0;
}

.food-menu-txt {
  padding: 2.5em 0;
}

.food-card {
  padding: 2em 0;
}

.menu-img-gallery {
  line-height: 0;
}

.menu-img-gallery img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .menu-img-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 61em) {
  .menu-img-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0;
  padding: 0;
}

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px;
}

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic;
}

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000;
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block;
}

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block;
}

/**
   * Add the correct display in IE.
   */
template {
  display: none;
}

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none;
}

body {
  font-size: 18px;
  line-height: 1.7em;
}

button, .custom-anch-btn, .submit-btn, .menu {
  background-color: #dca47d;
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  border: 10px solid #dca47d;
  padding: .3em 15px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover, .custom-anch-btn:hover, .submit-btn:hover, .menu:hover {
  background-color: #cf9870;
  border: 10px solid #cf9870;
}

.menu-btn {
  margin-top: 35px;
}

.container {
  padding: 100px 10%;
}

header {
  text-align: center;
}

section {
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h5 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 100%;
  padding-bottom: 1.2rem;
  margin: 0;
}

p {
  line-height: 1.8em;
  font-family: "Nunito", sans;
  font-size: 100%;
}

@media screen and (min-width: 980px) {
  p {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

input[type=text], input[type=email], input[type=submit], select, textarea {
  width: 100%;
  padding: 1.5em;
  margin: 1em 0;
  border: 1px solid #e6e6e6;
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3.5em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}
/*# sourceMappingURL=style.css.map */